.member-default {
    display: none;
}
  
.member-change {
display: block;

}

.setting-default {
  display: none;
}

.setting-change {
display: block;

} 

.sidebar {
  overflow-y: scroll;
  height: auto;
  max-height: auto;
  bottom: 0;
  left: 0;
  margin-top: 0;
  position: fixed;
  top: 60px;
  transition: all 0.2s ease-in-out 0s;
  width: auto ; 
  z-index: 1001;
  background: #FFFFFF;
}

.slimScrollBar{
    background: rgb(204, 204, 204);
    width: 7px;
    position: absolute;
    
    opacity: 0.4;
    display: none;
    border-radius: 7px;
    z-index: 99;
    right: 1px;
 
}