<div class="main-wrapper login-body">
    <div class="login-wrapper">
    <div class="container">
    <div class="loginbox">
    <div class="login-left">
    <img class="img-fluid" src="assets/img/resetpass.png" alt="Logo">
    </div>
    <div class="login-right">
    <div class="login-right-wrap">
    <h1>Welcome to Preskool</h1><br/>
    <h2>Set New Password</h2>
    <form #f="ngForm" (ngSubmit)="setPassword(f)" >
    <div class="form-group">
    <label>Password <span class="login-danger">*</span></label>
    <input class="form-control" type="password" name="Password" #Password="ngModel" [(ngModel)]="Pass" required >
    </div>
    <div class="form-group">
    <label>Confirm Password <span class="login-danger">*</span></label>
    <input class="form-control pass-input"  type="password" name="Confirm" #Confirm="ngModel" ngModel required pattern={{Pass}} >
    <span class="profile-views feather-eye toggle-password"></span>
    </div>
    <div class="forgotpass">
    <div class="remember-me">
  
    </div>
    </div>
    <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit">Sumbit</button>
    </div>
    </form>
    
  
    
   
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    